* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Fira Code", monospace;
  font-size: 1.6rem;
  line-height: 1.4;
}
main {
  margin-left: 50vw;
}
p {
  font-family: "Fira Code", monospace;
}
