/* Menu icon  */
.MenuIcon {
  width: 7rem;
  position: fixed;
  right: 4rem;
  top: 45%;
  cursor: pointer;
  z-index: 3;
}
.MenuIcon span {
  float: right;
  height: 3px;
  background-color: #4169e1;
  margin-bottom: 5px;
  display: block;
  transition: 0.4s;
}
.MenuIcon span:first-child {
  width: 3rem;
}
.MenuIcon span:nth-child(2) {
  width: 5rem;
}

.MenuIcon span:last-child {
  width: 4rem;
}
.MenuIcon.change span {
  background-color: #fff;
  width: 4rem;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -3px);
}
